@import url("https://use.typekit.net/ull6kda.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-aviano text-4xl font-thin ;
  }
  p {
    @apply font-krete text-lg font-normal text-white text-opacity-90 leading-loose;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-border::-webkit-scrollbar {
  width: 0.5rem;
}

.content-border::-webkit-scrollbar-track {
  background: white;
  border-bottom-right-radius: 0.5rem;
}

.content-border::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px white;
  background: #1A1A1D;
  border-bottom-right-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1A1A1D;
  }
}
