@import url("https://use.typekit.net/ull6kda.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-aviano text-lg sm:text-2xl md:text-3xl lg:text-3xl xl:text-4xl font-thin;
  }
  h2 {
    @apply font-aviano text-sm sm:text-sm md:text-base md:leading-none lg:text-base lg:leading-none xl:text-xl font-thin;
  }
  h3,p,ul,input,textarea {
    @apply font-krete font-normal text-white text-opacity-90 tracking-widest;
  }
  h3 {
    @apply text-sm leading-loose xl:text-xl xl:leading-loose underline underline-offset-4;
  }
  p {
    @apply text-xs leading-loose sm:text-sm sm:leading-loose md:text-base md:leading-loose lg:text-base lg:leading-loose xl:text-xl xl:leading-loose text-justify;
  }
  ul {
    @apply list-disc list-outside pl-4 text-sm leading-loose xl:text-xl xl:leading-loose text-justify;
  }
  input, textarea {
    @apply text-xs md:text-xs lg:text-xs xl:text-base font-thin text-opacity-90 px-1 lg:px-1 xl:px-2 h-7 md:h-6 lg:h-6 xl:h-9 bg-transparent border rounded-sm outline-none
  }
  textarea {
    @apply pt-1 h-24 resize-none
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @apply text-neutral-500
  }
  input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @apply text-neutral-500 opacity-100
  }
  input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    @apply text-neutral-500 opacity-100
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @apply text-neutral-500
  }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Microsoft Edge */
    @apply text-neutral-500
  }
  input::placeholder, textarea::placeholder { /* Most modern browsers support this now. */
    @apply text-neutral-500
  }
}

@layer components {
  .skills-list {
    @apply font-krete text-xs sm:text-sm md:text-sm lg:text-base xl:text-xl font-normal text-white text-opacity-90 tracking-widest;
  }
  .more-less-text {
    @apply text-sm xl:text-lg text-neutral-300 tracking-widest cursor-pointer
  }
  .project-note {
    @apply text-xs leading-relaxed xl:text-base xl:leading-relaxed
  }
  .project-skills-list {
    @apply font-krete text-xs xl:text-lg xl:leading-loose text-neutral-400 font-normal text-opacity-90 tracking-widest;
  }
  .moving-text {
    @apply text-xl tracking-wider md:text-xl md:leading-6 lg:text-2xl lg:leading-6 xl:text-3xl xl:leading-6
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-border::-webkit-scrollbar {
  width: 0.5rem;
}

.content-border::-webkit-scrollbar-track {
  background: white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content-border::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px white;
  background: #0f0f0f;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media screen and (min-width: 640px) {
  .content-border::-webkit-scrollbar {
    width: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0f0f0f;
    /* background: #1A1A1D; */
    
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1A1A1D inset;
}